# full folders
.vscode/settings.json
.vscode/symbols.lua
editor/
exceptions/
profiles/
r1m1.bak/
r1m2.bak/
r1m3.bak/
r1m4.bak/
r1m5.bak/
r1m6.bak/
r1m7.bak/
r2m1.bak/
r2m2.bak/
r3m1.bak/
r3m2.bak/
r4m1.bak/
r4m2.bak/
r1m1_KrayCity/
r1m1_KrayCity.bak/
backup/
# not used files
datasources.txt
devicecompatible.xml
localDialogs.xml
localQuestInfo.xml
localQuests.xml
memlog.txt
QuestStates.xml
video.xml
clear_compatch.py
clear_steam.py
# file extensions
*.asm
*.bak
*.bat
*.bin
*.bmp
*.bps
*.code-workspace
*.cfg
*.cfg_
*.cliff
*.cpt
*.cursor
*.dds
*.dll
*.doc
*.exe
*.fx
*.gam
*.jpg
*.lnk
*.log
*.odt
*.ogg
*.pdb
*.png
*.ps
*.psd
*.rar
*.raw
*.shader
*.tga
*.tile
*.tmp
*.txt
*.vs
*.wav
*.wmv
*.zip
*.xml
*.lua
*.ssl
*.sam
*.psys
*.yaml
*.!
# necessary game files
!KatynZhukAvocalypse/data/if/dialogs/credits.xml
!KatynZhukAvocalypse/data/if/dialogs_16_9/credits.xml
!KatynZhukAvocalypse/data/if/diz/dialogsglobal.xml
!KatynZhukAvocalypse/data/if/diz/dynamicdialogsglobal.xml
!KatynZhukAvocalypse/data/if/diz/levelinfo.xml
!KatynZhukAvocalypse/data/if/diz/levelinfo_hd.xml
!KatynZhukAvocalypse/data/if/diz/model_names.xml
!KatynZhukAvocalypse/data/if/diz/questinfoglobal.xml
!KatynZhukAvocalypse/data/if/diz/questinfoglobal.xml
!KatynZhukAvocalypse/data/if/strings/affixesdiz.xml
!KatynZhukAvocalypse/data/if/strings/bindnames.xml
!KatynZhukAvocalypse/data/if/strings/clansdiz.xml
!KatynZhukAvocalypse/data/if/strings/fadingmsgs.xml
!KatynZhukAvocalypse/data/if/strings/gamestrings.xml
!KatynZhukAvocalypse/data/if/strings/help.xml
!KatynZhukAvocalypse/data/if/strings/objectdiz.xml
!KatynZhukAvocalypse/data/if/strings/setupstrings.xml
!KatynZhukAvocalypse/data/if/strings/statistics.xml
!KatynZhukAvocalypse/data/if/strings/uibooks.xml
!KatynZhukAvocalypse/data/if/strings/uidescription.xml
!KatynZhukAvocalypse/data/if/strings/uieditorstrings.xml
!KatynZhukAvocalypse/data/if/strings/uieditstrings.xml
!KatynZhukAvocalypse/data/if/strings/uihistory.xml
!KatynZhukAvocalypse/data/maps/r1m1/object_names.xml
!KatynZhukAvocalypse/data/maps/r1m1/strings.xml
!KatynZhukAvocalypse/data/maps/r1m2/object_names.xml
!KatynZhukAvocalypse/data/maps/r1m2/strings.xml
!KatynZhukAvocalypse/data/maps/r1m3/object_names.xml
!KatynZhukAvocalypse/data/maps/r1m3/strings.xml
!KatynZhukAvocalypse/data/maps/r1m4/object_names.xml
!KatynZhukAvocalypse/data/maps/r1m4/strings.xml
!KatynZhukAvocalypse/data/maps/r3m1/object_names.xml
!KatynZhukAvocalypse/data/maps/r3m1/strings.xml
!KatynZhukAvocalypse/data/maps/r3m2/object_names.xml
!KatynZhukAvocalypse/data/maps/r3m2/strings.xml
!KatynZhukAvocalypse/data/maps/r2m1/object_names.xml
!KatynZhukAvocalypse/data/maps/r2m1/strings.xml
!KatynZhukAvocalypse/data/maps/r2m2/object_names.xml
!KatynZhukAvocalypse/data/maps/r2m2/strings.xml
!KatynZhukAvocalypse/data/maps/r4m1/object_names.xml
!KatynZhukAvocalypse/data/maps/r4m1/strings.xml
!KatynZhukAvocalypse/data/maps/r4m2/object_names.xml
!KatynZhukAvocalypse/data/maps/r4m2/strings.xml
!KatynZhukAvocalypse/data/sounds/radio/radiosamples.xml
!KatynZhukAvocalypse/data/if/frames/uischema2.xml
!KatynZhukAvocalypse/data/if/fonts/fonts.xml
!KatynZhukAvocalypse/data/if/fonts/sm_tahoma_18.750_00.dds
!KatynZhukAvocalypse/data/sounds/speech/r1m1/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/r1m2/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/r1m3/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/r1m4/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/r2m1/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/r2m2/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/r3m1/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/r3m2/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/r4m1/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/r4m2/**/*.ogg
!KatynZhukAvocalypse/data/sounds/speech/rolik/**/*.ogg
!KatynZhukAvocalypse/data/sounds/radio/**/*.ogg
!KatynZhukAvocalypse/data/if/ico_hd/gamemenu/menu_logo_xm.dds
!KatynZhukAvocalypse/data/if/ico_hd/splashwnd/loading_up.dds
!KatynZhukAvocalypse/data/music/mainmenu.ogg
!KatynZhukAvocalypse/data/music/mainmenu_remaster.ogg
!scripts/manifest.yaml
!scripts/manifest_hd.yaml
!scripts/translation.py
!KatynZhukAvocalypse/manifest.yaml
!requirements.txt
# more ignoring files
KatynZhukAvocalypse/data/if/ico/splashes/les.dds
KatynZhukAvocalypse/data/if/ico/splashes/loading_screen_2.dds
KatynZhukAvocalypse/data/if/ico/splashes/loading_screen_3.dds
KatynZhukAvocalypse/data/if/ico/splashes/most_slon.dds
KatynZhukAvocalypse/data/if/ico/splashes/noch.dds
KatynZhukAvocalypse/data/maps/r1m1/cameramap.raw
KatynZhukAvocalypse/data/maps/r1m1/landscape.dds
KatynZhukAvocalypse/data/maps/r1m1_KrayCity.ssl
KatynZhukAvocalypse/data/sounds/speech/r1m1/r1m1_1142_hero.ogg
KatynZhukAvocalypse/data/sounds/radio/r_player_dead_1.ogg
KatynZhukAvocalypse/data/sounds/radio/r_player_dead_2_2.ogg
KatynZhukAvocalypse/data/sounds/radio/r_player_dead_2.ogg
KatynZhukAvocalypse/data/sounds/radio/r_player_dead_3.ogg
KatynZhukAvocalypse/data/sounds/radio/r_player_dead_4.ogg
KatynZhukAvocalypse/data/sounds/radio/r_player_ishit_1.ogg
KatynZhukAvocalypse/data/sounds/radio/r_player_ishit_2.ogg
KatynZhukAvocalypse/data/sounds/radio/r_player_ishit_3.ogg
KatynZhukAvocalypse/data/sounds/radio/r_player_ishit_4.ogg
KatynZhukAvocalypse/data/sounds/radio/r_madman_dead_3.ogg
snother.py
renaming.py
remaster/manifest.yaml

venv/