# full folders
.vscode/settings.json
.vscode/symbols.lua
editor/
exceptions/
profiles/
r1m1.bak/
r1m2.bak/
r1m3.bak/
r1m4.bak/
r1m5.bak/
r1m6.bak/
r1m7.bak/
r2m1.bak/
r2m2.bak/
r3m1.bak/
r3m2.bak/
r4m1.bak/
r4m2.bak/
r1m1_KrayCity/
r1m1_KrayCity.bak/
# not used files
datasources.txt
devicecompatible.xml
localDialogs.xml
localQuestInfo.xml
localQuests.xml
memlog.txt
QuestStates.xml
video.xml
# file extensions
*.asm
*.bak
*.bat
*.bin
*.bmp
*.bps
*.code-workspace
*.cfg
*.cfg_
*.cliff
*.cpt
*.cursor
*.dds
*.dll
*.doc
*.exe
*.fx
*.gam
*.jpg
*.lnk
*.log
*.odt
*.ogg
*.pdb
*.png
*.ps
*.psd
*.rar
*.raw
*.shader
*.tga
*.tile
*.tmp
*.txt
*.vs
*.wav
*.wmv
*.zip
*.xml
*.lua
*.ssl
*.sam
*.psys
*.yaml
*.!
# necessary game files
!data/if/dialogs/credits.xml
!data/if/diz/dialogsglobal.xml
!data/if/diz/dynamicdialogsglobal.xml
!data/if/diz/levelinfo.xml
!data/if/diz/model_names.xml
!data/if/diz/questinfoglobal.xml
!data/if/diz/questinfoglobal.xml
!data/if/strings/affixesdiz.xml
!data/if/strings/bindnames.xml
!data/if/strings/clansdiz.xml
!data/if/strings/fadingmsgs.xml
!data/if/strings/gamestrings.xml
!data/if/strings/help.xml
!data/if/strings/objectdiz.xml
!data/if/strings/setupstrings.xml
!data/if/strings/statistics.xml
!data/if/strings/uibooks.xml
!data/if/strings/uidescription.xml
!data/if/strings/uieditorstrings.xml
!data/if/strings/uieditstrings.xml
!data/if/strings/uihistory.xml
!data/maps/r1m1/object_names.xml
!data/maps/r1m1/strings.xml
!data/maps/r1m2/object_names.xml
!data/maps/r1m2/strings.xml
!data/maps/r1m3/object_names.xml
!data/maps/r1m3/strings.xml
!data/maps/r1m4/object_names.xml
!data/maps/r1m4/strings.xml
!data/maps/r3m1/object_names.xml
!data/maps/r3m1/strings.xml
!data/maps/r3m2/object_names.xml
!data/maps/r3m2/strings.xml
!data/maps/r2m1/object_names.xml
!data/maps/r2m1/strings.xml
!data/maps/r2m2/object_names.xml
!data/maps/r2m2/strings.xml
!data/maps/r4m1/object_names.xml
!data/maps/r4m1/strings.xml
!data/maps/r4m2/object_names.xml
!data/maps/r4m2/strings.xml
!data/sounds/radio/radiosamples.xml
# more ignoring files
data/if/ico/splashes/les.dds
data/if/ico/splashes/loading_screen_2.dds
data/if/ico/splashes/loading_screen_3.dds
data/if/ico/splashes/most_slon.dds
data/if/ico/splashes/noch.dds
data/maps/r1m1/cameramap.raw
data/maps/r1m1/landscape.dds
data/sounds/speech/rolik/ending1.ogg
data/sounds/speech/rolik/ending2.ogg
data/sounds/speech/rolik/r1m1_969_narrator.ogg
data/maps/r1m1_KrayCity.ssl